<div class="cards">
  @for (product of products(); track $index) {
    <app-card
      [id]="product.id"
      [title]="product.name"
      [description]="product.description"
      [price]="product.price"
      [imageUrl]="product.imageUrl"
    ></app-card>
  }
</div>

<div #sentinel style="height: 1px;"></div>

@if (loading) {
  <p style="text-align: center; margin: 20px;">
    Carregando produtos...
  </p>
}

@if (!hasMore && products().length > 0) {
  <p style="text-align: center; margin: 20px;">
    Você chegou ao fim dos produtos
  </p>
}
