<div class="home-layout">

  <aside class="filters">

    <div
      class="filter-card"
      (keydown.enter)="applyFilters({
        category: category.value || undefined,
        minPrice: minPrice.value
          ? +minPrice.value
          : undefined,
        maxPrice: maxPrice.value
          ? +maxPrice.value
          : undefined,
        inStock: inStock.checked
      })"
    >

      <div class="filter-header">

        <h3>
          Filtros
        </h3>

      </div>


      <div class="field">

        <label>
          Categoria
        </label>

        <input
          #category
          type="text"
          placeholder="Ex: Grãos"
        >

      </div>


      <div class="price-group">

        <div class="field">

          <label>
            Preço mínimo
          </label>

          <input
            #minPrice
            type="number"
            placeholder="0"
          >

        </div>


        <div class="field">

          <label>
            Preço máximo
          </label>

          <input
            #maxPrice
            type="number"
            placeholder="1000"
          >

        </div>

      </div>


      <label class="checkbox">

        <input
          #inStock
          type="checkbox"
        >

        <span>
          Somente disponíveis
        </span>

      </label>


      <button
        class="filter-button"
        (click)="applyFilters({
          category: category.value || undefined,
          minPrice: minPrice.value
            ? +minPrice.value
            : undefined,
          maxPrice: maxPrice.value
            ? +maxPrice.value
            : undefined,
          inStock: inStock.checked
        })"
      >

        Aplicar filtros

      </button>


    </div>

  </aside>



  <section class="catalog">


    @if (!loading && products().length === 0) {

      <div class="empty-products">

        <h3>
          Nenhum produto encontrado
        </h3>

        <p>
          Tente ajustar os filtros ou realizar uma nova busca.
        </p>

      </div>

    }


    @if (products().length > 0) {

      <div class="cards">

        @for (product of products(); track product.id) {

          <app-card
            [product]="product">
          </app-card>

        }

      </div>

    }



    <div
      #sentinel
      class="sentinel">
    </div>



    @if (loading) {

      <p class="status-message">
        Carregando produtos...
      </p>

    }



    @if (!hasMore && products().length > 0) {

      <p class="status-message">
        Você chegou ao fim dos produtos
      </p>

    }


  </section>


</div>