RABBITMQ_URL=amqp://guest:guest@localhost:5672
RABBITMQ_EXCHANGE=smartstore.user-actions
RABBITMQ_QUEUE=smartstore.user-actions.queue
RABBITMQ_ROUTING_KEY=user-actions

DATABASE_URL=postgresql://smartstore:smartstore@localhost:5432/smartstore
